/* . class selctor
   # id selector */

#tree-container svg {
  position: relative;
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

main {
  flex: 1;
}

footer {
  border-top: 1px solid #ddd;
  background: rgba(225,225,225,0.8);
  min-height: 25px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

}

/* #tooltip {
  position: absolute;
  background: rgba(0,0,0,0.85);
  color: white;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 13px;
  display: none;
  pointer-events: none;
  z-index: 1000;
} */

/* .tree-label {
  cursor: pointer;
  fill: black;
}

.tree-label:hover {
  fill: #1f77b4;
  font-weight: bold;
} */