# Ignore
all_rep_proteins_aa/
all_rep_proteins_aa/**

Zostera/
Zoster/**

thermophiles/
thermophiles/**

trees/
trees/*

T6SS/
T6SS/**

nif-expression/
nif-expression/**

SSN/
SSN/**

MSA/
MSA/**

bin/tmp/**
bin/slurm**
bin/old_slurm/**
HMMs/old/**
HMM_seeds/old/**
alignments/old/**

# Results
results/
results/**

operon-org/
operon-org/**
