# Ignore

.DS_STORE

Untracked/

bin/tmp/**
bin/slurm**
bin/old_slurm/**

nifH_taxon_James/**

runner/.env

tmp_upload_data/

# FULL STACK IGNORE
website/.env
website/backend/.env
website/frontend/.env
website/frontend/public/metadata.json
website/frontend/public/DiazoDB-data.csv
website/frontend/public/fastas/**

website/.vscode/*
!website/.vscode/extensions.json

website/local_uploads/
node_modules/
**/node_modules/
website/test-results/
website/*/test-results/
website/*/playwright-report/
website/*/blob-report/
website/*/playwright/.cache/

# DVC tracked

all_rep_proteins_aa/archaea/
all_rep_proteins_aa/bacteria/

protein_faa_reps/bacteria/
protein_faa_reps/archaea/

results/hmmsearch_results/archaea
results/hmmsearch_results/bacteria
results/fasta_splits/

operon-org/input-fastas/
operon-org/microbeannotator/
